{{define "_navbar"}}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" alt="Logo Pokedex" class="logo"></a>
    </nav>
{{end}}