{{template "base" .}}

{{define "title"}}
    Pokedex - All
{{end}}

{{define "content"}}
    {{/* <h1>Pokemon List</h1>
    {{range index .Data "pokemon_card_list"}}
        <h2>{{.Sprite}}</h2>
    {{end}} */}}
    {{template "pokelist" .}}
{{end}}