<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/detail.css">

    <title>Detail - Pokedex</title>
</head>

<body>
    <!-- Header -->
    <header class="sticky">
        <div class="row" id="header-logo">
            <a href="" class="logo-link">
                <img src="/static/img/logo.png" alt="Logo Pokedex" class="logo">
            </a>
        </div>
    </header>
    <!-- Loader -->
    {{/* <div class="loader" id="loader">
        <img src="img/loader.svg" alt="Loading">
    </div> */}}
    <!-- Main -->
    <section class="section-main" id="section-main">
        <div class="row" id="row-header">
            <div class="id-box">{{.ID}}</div>
            <div class="name-box">{{.Name}}</div>
        </div>
        <div class="row" id="row-info">
            <div class="row row-detail">
                <div class="col-1-of-2" id="sprite-box">
                    <img src="" alt="" class="sprite">
                </div>
                <div class="col-1-of-2">
                    <div class="species">
                        <div class="detail-title">Species</div>
                        <div class="detail-value" id="species-value"></div>
                    </div>
                    <div class="height">
                        <div class="detail-title">Height</div>
                        <div class="detail-value" id="height-value"></div>
                    </div>
                    <div class="weight">
                        <div class="detail-title">Weight</div>
                        <div class="detail-value" id="weight-value"></div>
                    </div>
                    <div class="abilities">
                        <div class="detail-title">Abilities</div>
                        <div class="detail-value" id="abilities-value"></div>
                    </div>
                    <div class="types">
                        <div class="detail-title">Types</div>
                        <div id="types-value">
                            <!-- <div class="detail-type dark">fighting</div>
                            <div class="detail-type dragon">electric</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-evolve">
                <div class="evolve-title">Evolution Chain</div>
                <div class="evolve-details" id="evolve-details"></div>
            </div>
        </div>
    </section>
    <footer>
        <div class="copyright">Wisnu Anggoro</div>
    </footer>
</body>

</html>