<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/index.css">

    <title>Pokedex</title>
</head>

<body>
    <!-- Header -->
    <header class="sticky">
        <div class="row" id="header-logo">
            <a href="" class="logo-link">
                <img src="static/img/logo.png" alt="Logo Pokedex" class="logo">
            </a>
        </div>
    </header>
    <!-- Loader -->
    {{/* <div class="loader" id="loader">
        <img src="static/img/loader.svg" alt="Loading">
    </div> */}}
    <!-- Main -->
    <section class="section-main">
        <div class="row flex-box" id="row-flex-box">
            {{range .}}
            <div class="card-box">
                <a href="/detail/{{.Name}}" class="card-btn">
                    <img src={{.Sprite}}
                        alt="1" class="card-image">
                    <div class="card-id">#{{.ID}}</div>
                    <div class="card-name">{{.Name}}</div>
                    <div class="card-types">
                        {{range .Types}}
                        <div class="card-type {{.}}">{{.}}</div>
                        {{end}}
                    </div>
                </a>
            </div>
            {{end}}
        </div>
    </section>
    <footer>
        <div class="copyright">Wisnu Anggoro</div>
    </footer>
</body>

</html>